<section class="text-center mt-4">
  <h1>Contáctanos</h1>
</section>

<section class="d-flex justify-content-center mt-5">
  <form #formulario="ngForm" class="w-50" (ngSubmit)="enviar(formulario)">

    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre Completo</label>
      <input type="text" id="nombre" class="form-control" name="nombre" [(ngModel)]="contacto.nombre" required minlength="3">
      @if (formulario.submitted || formulario.controls['nombre']?.touched) {
        @if (formulario.controls['nombre']?.invalid) {
          <small class="text-danger">Nombre obligatorio (mínimo 3 caracteres).</small>
        }
      }
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input type="email" id="email" class="form-control" name="email" [(ngModel)]="contacto.email" required email>
      @if (formulario.submitted || formulario.controls['email']?.touched) {
        @if (formulario.controls['email']?.invalid) {
          <small class="text-danger">Correo válido obligatorio.</small>
        }
      }
    </div>

    <div class="mb-3">
      <label for="celular" class="form-label">Número de Celular</label>
      <input type="text" id="celular" class="form-control" name="celular" [(ngModel)]="contacto.celular" required pattern="^[0-9]{10}$">
      @if (formulario.submitted || formulario.controls['celular']?.touched) {
        @if (formulario.controls['celular']?.invalid) {
          <small class="text-danger">Número obligatorio (exactamente 10 dígitos numéricos).</small>
        }
      }
    </div>

    <div class="mb-3">
      <label for="asunto" class="form-label">Asunto</label>
      <input type="text" id="asunto" class="form-control" name="asunto" [(ngModel)]="contacto.asunto" required>
      @if (formulario.submitted || formulario.controls['asunto']?.touched) {
        @if (formulario.controls['asunto']?.invalid) {
          <small class="text-danger">Asunto obligatorio.</small>
        }
      }
    </div>

    <div class="mb-3">
      <label for="mensaje" class="form-label">Mensaje</label>
      <textarea id="mensaje" class="form-control" name="mensaje" [(ngModel)]="contacto.mensaje" required minlength="10" rows="4"></textarea>
      @if (formulario.submitted || formulario.controls['mensaje']?.touched) {
        @if (formulario.controls['mensaje']?.invalid) {
          <small class="text-danger">Mensaje obligatorio (mínimo 10 caracteres).</small>
        }
      }
    </div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="formulario.invalid">
      Enviar
    </button>

  </form>
</section>
