<section class="text-center mt-4">
  <h1>Explora Nuestros Hoteles</h1>
  <input type="text" class="form-control w-50 mx-auto my-3" placeholder="Buscar por nombre o ciudad" [(ngModel)]="termino" (input)="buscar()">
</section>

<section class="container mt-4">
  @if (hotelesFiltrados.length > 0) {
    <div class="row">
      @for (hotel of hotelesFiltrados; track hotel.id) {
        <div class="col-md-4">
          <app-hotel-card [hotel]="hotel"></app-hotel-card>

        </div>
      }
    </div>
  } @else {
    <div class="alert alert-warning text-center" role="alert">
      No se encontraron hoteles que coincidan con tu búsqueda.
    </div>
  }
</section>
