<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Hotel Paraíso</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/hoteles">Hoteles</a>
          </li>
  
          @if (adminLogueado; as admin) {
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin">Admin Panel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()" style="cursor: pointer;">Cerrar Sesión</a>
            </li>
          } @else {
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
          }
  
        </ul>
      </div>
    </div>
  </nav>
  